/* 02-Tokens - Dark */
:root {
  --static-static-black: var(--neutral-950);
  --static-static-white: var(--neutral-0);
  --bg-strong-950: var(--neutral-0);
  --bg-surface-800: var(--neutral-200);
  --bg-sub-300: var(--neutral-600);
  --bg-soft-200: var(--neutral-700);
  --bg-weak-50: var(--neutral-900);
  --bg-white-0: var(--neutral-950);
  --text-strong-950: var(--neutral-0);
  --text-sub-600: var(--neutral-400);
  --text-soft-400: var(--neutral-500);
  --text-disabled-300: var(--neutral-600);
  --text-white-0: var(--neutral-950);
  --stroke-strong-950: var(--neutral-0);
  --stroke-sub-300: var(--neutral-600);
  --stroke-soft-200: var(--neutral-700);
  --stroke-white-0: var(--neutral-950);
  --icon-strong-950: var(--neutral-0);
  --icon-sub-600: var(--neutral-400);
  --icon-soft-400: var(--neutral-500);
  --icon-disabled-300: var(--neutral-600);
  --state-faded-dark: var(--neutral-300);
  --state-faded-base: var(--neutral-500);
  --state-faded-light: var(--alpha-neutral-alpha-24);
  --state-faded-lighter: var(--alpha-neutral-alpha-16);
  --state-information-dark: var(--blue-400);
  --state-information-base: var(--blue-500);
  --state-information-light: var(--alpha-blue-alpha-24);
  --state-information-lighter: var(--alpha-blue-alpha-16);
  --state-warning-dark: var(--orange-400);
  --state-warning-base: var(--orange-600);
  --state-warning-light: var(--alpha-orange-alpha-24);
  --state-warning-lighter: var(--alpha-orange-alpha-16);
  --state-error-dark: var(--red-400);
  --state-error-base: var(--red-600);
  --state-error-light: var(--alpha-red-alpha-24);
  --state-error-lighter: var(--alpha-red-alpha-16);
  --state-success-dark: var(--green-400);
  --state-success-base: var(--green-600);
  --state-success-light: var(--alpha-green-alpha-16);
  --state-success-lighter: var(--alpha-green-alpha-10);
  --state-away-dark: var(--yellow-400);
  --state-away-base: var(--yellow-600);
  --state-away-light: var(--alpha-yellow-alpha-24);
  --state-away-lighter: var(--alpha-yellow-alpha-16);
  --state-feature-dark: var(--purple-400);
  --state-feature-base: var(--purple-500);
  --state-feature-light: var(--alpha-purple-alpha-24);
  --state-feature-lighter: var(--alpha-purple-alpha-16);
  --state-verified-dark: var(--sky-400);
  --state-verified-base: var(--sky-600);
  --state-verified-light: var(--alpha-sky-alpha-24);
  --state-verified-lighter: var(--alpha-sky-alpha-16);
  --state-highlighted-dark: var(--pink-400);
  --state-highlighted-base: var(--pink-600);
  --state-highlighted-light: var(--alpha-pink-alpha-24);
  --state-highlighted-lighter: var(--alpha-pink-alpha-16);
  --state-stable-dark: var(--teal-400);
  --state-stable-base: var(--teal-600);
  --state-stable-light: var(--alpha-teal-alpha-24);
  --state-stable-lighter: var(--alpha-teal-alpha-16);
  --icon-white-0: var(--neutral-950);
  --overlay-overlay: rgba(82, 88, 102, 0.3199999928474426);
  --social-apple: rgba(255, 255, 255, 1);
  --social-twitter: rgba(255, 255, 255, 1);
  --social-github: rgba(255, 255, 255, 1);
  --social-notion: rgba(255, 255, 255, 1);
  --social-tidal: rgba(255, 255, 255, 1);
  --social-amazon: rgba(255, 255, 255, 1);
  --social-zendesk: rgba(255, 255, 255, 1);
  --illustration-strong-400: var(--neutral-600);
  --illustration-sub-300: var(--neutral-700);
  --illustration-soft-200: var(--neutral-800);
  --illustration-weak-100: var(--neutral-900);
  --illustration-white-0: var(--neutral-950);
}