/* 02-Tokens - Light */
:root {
  --static-static-black: var(--neutral-950);
  --static-static-white: var(--neutral-0);
  --bg-strong-950: var(--neutral-950);
  --bg-surface-800: var(--neutral-800);
  --bg-sub-300: var(--neutral-300);
  --bg-soft-200: var(--neutral-200);
  --bg-weak-50: var(--neutral-50);
  --bg-white-0: var(--neutral-0);
  --text-strong-950: var(--neutral-950);
  --text-sub-600: var(--neutral-600);
  --text-soft-400: var(--neutral-400);
  --text-disabled-300: var(--neutral-300);
  --text-white-0: var(--neutral-0);
  --stroke-strong-950: var(--neutral-950);
  --stroke-sub-300: var(--neutral-300);
  --stroke-soft-200: var(--neutral-200);
  --stroke-white-0: var(--neutral-0);
  --icon-strong-950: var(--neutral-950);
  --icon-sub-600: var(--neutral-600);
  --icon-soft-400: var(--neutral-400);
  --icon-disabled-300: var(--neutral-300);
  --state-faded-dark: var(--neutral-800);
  --state-faded-base: var(--neutral-500);
  --state-faded-light: var(--neutral-200);
  --state-faded-lighter: var(--neutral-100);
  --state-information-dark: var(--blue-950);
  --state-information-base: var(--blue-500);
  --state-information-light: var(--blue-200);
  --state-information-lighter: var(--blue-50);
  --state-warning-dark: var(--orange-950);
  --state-warning-base: var(--orange-500);
  --state-warning-light: var(--orange-200);
  --state-warning-lighter: var(--orange-50);
  --state-error-dark: var(--red-950);
  --state-error-base: var(--red-500);
  --state-error-light: var(--red-200);
  --state-error-lighter: var(--red-50);
  --state-success-dark: var(--green-950);
  --state-success-base: var(--green-500);
  --state-success-light: var(--green-200);
  --state-success-lighter: var(--green-50);
  --state-away-dark: var(--yellow-950);
  --state-away-base: var(--yellow-500);
  --state-away-light: var(--yellow-200);
  --state-away-lighter: var(--yellow-50);
  --state-feature-dark: var(--purple-950);
  --state-feature-base: var(--purple-500);
  --state-feature-light: var(--purple-200);
  --state-feature-lighter: var(--purple-50);
  --state-verified-dark: var(--sky-950);
  --state-verified-base: var(--sky-500);
  --state-verified-light: var(--sky-200);
  --state-verified-lighter: var(--sky-50);
  --state-highlighted-dark: var(--pink-950);
  --state-highlighted-base: var(--pink-500);
  --state-highlighted-light: var(--pink-200);
  --state-highlighted-lighter: var(--pink-50);
  --state-stable-dark: var(--teal-950);
  --state-stable-base: var(--teal-500);
  --state-stable-light: var(--teal-200);
  --state-stable-lighter: var(--teal-50);
  --icon-white-0: var(--neutral-0);
  --overlay-overlay: rgba(2, 13, 23, 0.23999999463558197);
  --social-apple: rgba(0, 0, 0, 1);
  --social-twitter: rgba(1, 1, 1, 1);
  --social-github: rgba(36, 41, 47, 1);
  --social-notion: rgba(30, 34, 38, 1);
  --social-tidal: rgba(0, 0, 0, 1);
  --social-amazon: rgba(53, 62, 71, 1);
  --social-zendesk: rgba(22, 20, 13, 1);
  --illustration-strong-400: var(--neutral-400);
  --illustration-sub-300: var(--neutral-300);
  --illustration-soft-200: var(--neutral-200);
  --illustration-weak-100: var(--neutral-100);
  --illustration-white-0: var(--neutral-0);
}