/* 01-Foundations - Mode 1 */


:root {
  --neutral-950: rgba(14, 18, 27, 1);
  --neutral-900: rgba(24, 27, 37, 1);
  --neutral-800: rgba(34, 37, 48, 1);
  --neutral-700: rgba(43, 48, 59, 1);
  --neutral-600: rgba(82, 88, 102, 1);
  --neutral-500: rgba(113, 119, 132, 1);
  --neutral-400: rgba(153, 160, 174, 1);
  --neutral-300: rgba(202, 207, 216, 1);
  --neutral-200: rgba(225, 228, 234, 1);
  --neutral-100: rgba(242, 245, 248, 1);
  --neutral-50: rgba(245, 247, 250, 1);
  --neutral-0: rgba(255, 255, 255, 1);
  --blue-950: rgba(18, 35, 104, 1);
  --blue-900: rgba(24, 47, 139, 1);
  --blue-800: rgba(31, 59, 173, 1);
  --blue-700: rgba(37, 71, 208, 1);
  --blue-600: rgba(53, 89, 233, 1);
  --blue-500: rgba(51, 92, 255, 1);
  --blue-400: rgba(104, 149, 255, 1);
  --blue-300: rgba(151, 186, 255, 1);
  --blue-200: rgba(192, 213, 255, 1);
  --blue-100: rgba(213, 226, 255, 1);
  --blue-50: rgba(235, 241, 255, 1);
  --orange-950: rgba(104, 47, 18, 1);
  --orange-900: rgba(139, 62, 24, 1);
  --orange-800: rgba(173, 78, 31, 1);
  --orange-700: rgba(208, 94, 37, 1);
  --orange-600: rgba(233, 113, 53, 1);
  --orange-500: rgba(255, 132, 71, 1);
  --orange-400: rgba(255, 154, 104, 1);
  --orange-300: rgba(255, 186, 151, 1);
  --orange-200: rgba(255, 213, 192, 1);
  --orange-100: rgba(255, 227, 213, 1);
  --orange-50: rgba(255, 241, 235, 1);
  --red-950: rgba(104, 18, 25, 1);
  --red-900: rgba(139, 24, 34, 1);
  --red-800: rgba(173, 31, 43, 1);
  --red-700: rgba(208, 37, 51, 1);
  --red-600: rgba(233, 53, 68, 1);
  --red-500: rgba(251, 55, 72, 1);
  --red-400: rgba(255, 104, 117, 1);
  --red-300: rgba(255, 151, 160, 1);
  --red-200: rgba(255, 192, 197, 1);
  --red-100: rgba(255, 213, 216, 1);
  --red-50: rgba(255, 235, 236, 1);
  --green-950: rgba(11, 70, 39, 1);
  --green-900: rgba(22, 100, 59, 1);
  --green-800: rgba(26, 117, 68, 1);
  --green-700: rgba(23, 140, 78, 1);
  --green-600: rgba(29, 175, 97, 1);
  --green-500: rgba(31, 193, 107, 1);
  --green-400: rgba(62, 224, 137, 1);
  --green-300: rgba(132, 235, 180, 1);
  --green-200: rgba(194, 245, 218, 1);
  --green-100: rgba(208, 251, 233, 1);
  --green-50: rgba(224, 250, 236, 1);
  --yellow-950: rgba(98, 76, 24, 1);
  --yellow-900: rgba(134, 102, 29, 1);
  --yellow-800: rgba(167, 128, 37, 1);
  --yellow-700: rgba(201, 154, 44, 1);
  --yellow-600: rgba(230, 168, 25, 1);
  --yellow-500: rgba(246, 181, 30, 1);
  --yellow-400: rgba(255, 210, 104, 1);
  --yellow-300: rgba(255, 224, 151, 1);
  --yellow-200: rgba(255, 236, 192, 1);
  --yellow-100: rgba(255, 239, 204, 1);
  --yellow-50: rgba(255, 250, 235, 1);
  --purple-950: rgba(53, 26, 117, 1);
  --purple-900: rgba(61, 29, 134, 1);
  --purple-800: rgba(76, 37, 167, 1);
  --purple-700: rgba(91, 44, 201, 1);
  --purple-600: rgba(105, 62, 224, 1);
  --purple-500: rgba(125, 82, 244, 1);
  --purple-400: rgba(140, 113, 246, 1);
  --purple-300: rgba(168, 151, 255, 1);
  --purple-200: rgba(202, 192, 255, 1);
  --purple-100: rgba(220, 213, 255, 1);
  --purple-50: rgba(239, 235, 255, 1);
  --sky-950: rgba(18, 75, 104, 1);
  --sky-900: rgba(24, 101, 139, 1);
  --sky-800: rgba(31, 126, 173, 1);
  --sky-700: rgba(37, 151, 208, 1);
  --sky-600: rgba(53, 173, 233, 1);
  --sky-500: rgba(71, 194, 255, 1);
  --sky-400: rgba(104, 205, 255, 1);
  --sky-300: rgba(151, 220, 255, 1);
  --sky-200: rgba(192, 234, 255, 1);
  --sky-100: rgba(213, 241, 255, 1);
  --sky-50: rgba(235, 248, 255, 1);
  --pink-950: rgba(104, 18, 61, 1);
  --pink-900: rgba(139, 24, 82, 1);
  --pink-800: rgba(173, 31, 102, 1);
  --pink-700: rgba(208, 37, 122, 1);
  --pink-600: rgba(233, 53, 143, 1);
  --pink-500: rgba(251, 75, 163, 1);
  --pink-400: rgba(255, 104, 179, 1);
  --pink-300: rgba(255, 151, 203, 1);
  --pink-200: rgba(255, 192, 223, 1);
  --pink-100: rgba(255, 213, 234, 1);
  --pink-50: rgba(255, 235, 244, 1);
  --teal-950: rgba(11, 70, 62, 1);
  --teal-900: rgba(22, 100, 90, 1);
  --teal-800: rgba(26, 117, 105, 1);
  --teal-700: rgba(23, 140, 125, 1);
  --teal-600: rgba(29, 175, 156, 1);
  --teal-500: rgba(34, 211, 187, 1);
  --teal-400: rgba(63, 222, 201, 1);
  --teal-300: rgba(132, 235, 221, 1);
  --teal-200: rgba(194, 245, 238, 1);
  --teal-100: rgba(208, 251, 245, 1);
  --teal-50: rgba(228, 251, 248, 1);
  --alpha-neutral-alpha-24: rgba(153, 160, 174, 0.23999999463558197);
  --alpha-neutral-alpha-16: rgba(153, 160, 174, 0.1599999964237213);
  --alpha-neutral-alpha-10: rgba(153, 160, 174, 0.10000000149011612);
  --alpha-blue-alpha-24: rgba(71, 108, 255, 0.23999999463558197);
  --alpha-blue-alpha-16: rgba(71, 108, 255, 0.1599999964237213);
  --alpha-blue-alpha-10: rgba(71, 108, 255, 0.10000000149011612);
  --alpha-orange-alpha-24: rgba(255, 145, 71, 0.23999999463558197);
  --alpha-orange-alpha-16: rgba(255, 145, 71, 0.1599999964237213);
  --alpha-orange-alpha-10: rgba(255, 145, 71, 0.10000000149011612);
  --alpha-red-alpha-24: rgba(251, 55, 72, 0.23999999463558197);
  --alpha-red-alpha-16: rgba(251, 55, 72, 0.1599999964237213);
  --alpha-red-alpha-10: rgba(251, 55, 72, 0.10000000149011612);
  --alpha-green-alpha-24: rgba(31, 193, 107, 0.23999999463558197);
  --alpha-green-alpha-16: rgba(31, 193, 107, 0.1599999964237213);
  --alpha-green-alpha-10: rgba(31, 193, 107, 0.10000000149011612);
  --alpha-yellow-alpha-24: rgba(251, 198, 75, 0.23999999463558197);
  --alpha-yellow-alpha-16: rgba(251, 198, 75, 0.1599999964237213);
  --alpha-yellow-alpha-10: rgba(251, 198, 75, 0.10000000149011612);
  --alpha-purple-alpha-24: rgba(120, 77, 239, 0.23999999463558197);
  --alpha-purple-alpha-16: rgba(120, 77, 239, 0.1599999964237213);
  --alpha-purple-alpha-10: rgba(120, 77, 239, 0.10000000149011612);
  --alpha-sky-alpha-24: rgba(71, 194, 255, 0.23999999463558197);
  --alpha-sky-alpha-16: rgba(71, 194, 255, 0.1599999964237213);
  --alpha-sky-alpha-10: rgba(71, 194, 255, 0.10000000149011612);
  --alpha-pink-alpha-24: rgba(251, 75, 163, 0.23999999463558197);
  --alpha-pink-alpha-16: rgba(251, 75, 163, 0.1599999964237213);
  --alpha-pink-alpha-10: rgba(251, 75, 163, 0.10000000149011612);
  --alpha-teal-alpha-24: rgba(34, 211, 187, 0.23999999463558197);
  --alpha-teal-alpha-16: rgba(34, 211, 187, 0.1599999964237213);
  --alpha-teal-alpha-10: rgba(34, 211, 187, 0.10000000149011612);
  --alpha-white-alpha-24: rgba(255, 255, 255, 0.23999999463558197);
  --alpha-white-alpha-16: rgba(255, 255, 255, 0.1599999964237213);
  --alpha-white-alpha-10: rgba(255, 255, 255, 0.10000000149011612);
  --alpha-black-alpha-24: rgba(14, 18, 27, 0.23999999463558197);
  --alpha-black-alpha-16: rgba(14, 18, 27, 0.1599999964237213);
  --alpha-black-alpha-10: rgba(14, 18, 27, 0.10000000149011612);
}